.home .main .product {
    width: 100%;
}

.home .main .product .product-mulu {
    width: 100%;
    height: 460px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .4);
    padding: 30px;
}

.home .main .product .product-mulu img {
    height: 400px;
    float: left;
}

.home .main .product .product-mulu ul {
    float: left;
}

.home .main .product .product-mulu .mulu-txt {
    float: left;
    width: 144px;
    height: 400px;
    color: #fff;
    padding: 16.5px 60px;
    margin-right: 60.22px;
    background-color: rgba(0, 0, 0, .4);
}

.home .main .product .product-mulu .kuo,
.home .main .product .product-mulu .hao {
    width: 24px;
    height: 24px;
    margin-bottom: 15px;
}

.home .main .product .product-mulu .hao {
    margin-top: 15px;
}

.home .main .product .product-mulu ul h1 {
    float: left;
    width: 144px;
    height: 400px;
    color: #fff;
    padding: 55.5px 60px;
    display: inline;
}

.home .main .product .product-mulu ul li {
    position: relative;
    float: left;
    height: 400px;
    width: 144px;
    background-color: rgba(0, 0, 0, .4);
    transition: all 0.5s;
}

.home .main .product .product-mulu ul a {
    display: block;
    color: #fff;
}

.home .main .product .product-mulu ul li:nth-child(1) {
    border-right: rgb(255, 255, 255) solid 1px;
}

.home .main .product .product-mulu ul li:nth-child(2) {
    border-right: rgb(255, 255, 255) solid 1px;
}

.home .main .product .product-mulu ul li img {
    width: 218px;
    height: 400px;
    position: absolute;
    left: 144px;
    top: 0;
    display: none;
    cursor: pointer;
}

.home .main .product .product-mulu ul .first-li {
    width: 362px;
}

.home .main .product .product-mulu ul .first-li img {
    display: block;
}

.home .main .product .product-mulu ul li::after {
    font-family: 'icomoon';
    content: '\e90c';
    position: absolute;
    left: 100px;
    top: 181.5px;
    font-size: 26px;
    color: #fff;
}

.home .main .secai,
.home .main .fuzhuang,
.home .main .mianbu {
    margin: 15px auto;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .4);
    padding: 15px 30px 30px 30px;
}

.home .main .biaoti {
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
}

.home .main .mianbu .mianbu-txt {
    width: 100%;
    height: 500px;
}

.home .main .secai .secai-txt .secaitxt,
.home .main .fuzhuang .fuzhuang-txt .fuzhuangtxt,
.home .main .mianbu .mianbu-txt .mianbutxt {
    width: 614px;
    float: left;
}

.home .main .secai .secai-txt .secaitxt p,
.home .main .fuzhuang .fuzhuang-txt .fuzhuangtxt p,
.home .main .mianbu .mianbu-txt .mianbutxt p {
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 36px;
    text-indent: 2em;
}

.home .main .secai .secai-txt .secai-img,
.home .main .fuzhuang .fuzhuang-txt .fuzhuang-img,
.home .main .mianbu .mianbu-txt .mianbu-img {
    position: relative;
    float: right;
    width: 470px;
    height: 496px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 15px;
}

.home .main .mianbu .mianbu-txt .mianbu-img .mianbuimgs {
    width: 220px;
    height: 399px;
    margin-left: 125px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.home .main .secai .secai-img .secaiimgs ul,
.home .main .fuzhuang .fuzhuang-img .fuzhuangimgs ul,
.home .main .mianbu .mianbu-txt .mianbu-img ul {
    width: 1100px;
    height: 399px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
}

.home .main .secai .secai-img .secaiimgs ul li,
.home .main .fuzhuang .fuzhuang-img .fuzhuangimgs ul li,
.home .main .mianbu .mianbu-txt .mianbu-img ul li {
    float: left;
    transition: all 0.5s;
}

.home .main .mianbu .mianbu-txt .mianbu-img ul li img {
    width: 220px;
}

.home .main .secai .secai-img .banner-sc,
.home .main .fuzhuang .fuzhuang-img .banner-fz,
.home .main .mianbu .mianbu-txt .mianbu-img .banner-mb {
    position: absolute;
    left: 145px;
    top: 462px;
    width: 180px;
    height: 33px;
    background-color: rgba(0, 0, 0, .4);
}

.home .main .fuzhuang .fuzhuang-img .banner-fz {
    top: 465px;
}

.home .main .secai .secai-img .banner-sc {
    top: 515px;
}

.home .main .secai .secai-img .banner-sc div,
.home .main .fuzhuang .fuzhuang-img .banner-fz div,
.home .main .mianbu .mianbu-txt .mianbu-img .banner-mb div {
    float: left;
    width: 90px;
    height: 30px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 33px;
    cursor: pointer;
    pointer-events: all;
}

.home .main .secai .secai-img .banner-sc .bannerleft,
.home .main .fuzhuang .fuzhuang-img .banner-fz .bannerleft,
.home .main .mianbu .mianbu-txt .mianbu-img .banner-mb .bannerleft {
    border-right: 1px solid #fff;
}

.home .main .fuzhuang .fuzhuang-txt {
    width: 100%;
    height: 569px;
}

.home .main .fuzhuang .fuzhuang-txt .fuzhuangtxt {
    float: right;
}

.home .main .fuzhuang .fuzhuang-txt .fuzhuang-img {
    float: left;
    height: 570px;
}

.home .main .secai .secai-img .secaiimgs,
.home .main .fuzhuang .fuzhuang-img .fuzhuangimgs {
    width: 430px;
    height: 300px;
    position: relative;
    margin: 90px auto;
    overflow: hidden;
}

.home .main .fuzhuang .fuzhuang-img .fuzhuangimgs ul {
    width: 2150px;
    height: 300px;
}

.home .main .secai .secai-img .secaiimgs ul li img,
.home .main .fuzhuang .fuzhuang-img .fuzhuangimgs ul li img {
    width: 430px;
}

.home .main .secai {
    margin-bottom: 92px;
}

.home .main .secai .secai-txt {
    height: 576px;
    width: 100%;
}

.home .main .secai .secai-txt .secai-img {
    height: 576px;
}

.home .main .secai .secai-img .secaiimgs {
    width: 430px;
    height: 430px;
    margin-top: 47px;
}

.home .main .secai .secai-img .secaiimgs ul {
    width: 2150px;
    height: 430px;
}