.home .main .make {
    width: 100%;
    margin-bottom: 92px;
}

.home .main .make .tool,
.home .main .make .step,
.home .main .make .design {
    width: 100%;
    padding: 15px 30px 30px 30px;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, .4);
}

.home .main .biaoti {
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
}

.home .make .tool p,
.home .make .step p,
.home .make .design p {
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 36px;
    text-indent: 2em;
}

.home .make .characters {
    width: 1000px;
    margin: 15px 60px;
}

.home .make .character {
    float: left;
    width: 440px;
    margin: 15px 60px;
}

.home .make .tool h2,
.home .make .step h2,
.home .make .step h1 {
    color: #fff;
}

.home .make .tool h2,
.home .make .step h2 {
    line-height: 36px;
    text-indent: 2em;
}

.home .make .tool h2 img,
.home .make .step h2 img {
    margin-right: 10px;
}

.home .make .tool .diaoke {
    width: 283.3px;
    margin: 15px 45px;
    float: left;
}