.home .main .yarn {
    width: 100%;
}

.home .main .yarn .cavity,
.home .main .yarn .features,
.home .main .yarn .origin {
    padding: 15px 30px 30px 30px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 15px;
    margin-top: 15px;
    width: 100%;
}

.home .main .yarn .cavity p,
.home .main .yarn .features p,
.home .main .yarn .origin p {
    font-size: 16px;
    text-indent: 2em;
    color: #fff;
    line-height: 36px;
}

.home .main .yarn .features h2 {
    color: #fff;
    text-indent: 2em;
}

.home .main .yarn .features h2 img {
    margin-right: 10px;
}

.home .main .yarn .features-img {
    width: 1120px;
    height: 350px;
    margin: 15px 0;
}

.home .main .yarn .features-img img {
    height: 352px;
    float: left;
}

.home .main .yarn .features-img img:nth-child(2) {
    margin-left: 30px;
}